
.context-menu {
    background-color: var(--ds-gray-600);
    height: 320px;
    ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    }
  
}

    .tabs {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        border-radius: 8px;
        height: 100%;
        
        & .tabs-header {
          justify-content: flex-start;
          display: flex;
          position: relative;
          background-color: var(--body-bg-color);
          padding: 8px;
          
      
          & .tab-button {
            border: none;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            padding: 1rem;
            font-size: 16px;
            color: var(--colors-primary);
            transition: color 0.2s;
            border-left: 1px solid var(--ds-alpha);
            border-right: 1px solid var(--ds-alpha);
            &:hover {
              color: var(--colors-secondary);
            }
      
            &.active {
              color: var(--colors-secondary);
              font-weight: bold;
              
            }
            &.top {
              border-top: 2px solid var(--colors-secondary);
            }
            &.bottom {
              border-bottom: 2px solid var(--colors-secondary);
            }
            &:not(:last-child) {
             
            }
          }
        }
      
        & .tabs-content {
          height: 100%;
          position: relative;
          padding: 1rem;
   
        }
      }

.menu {
    button {
        &:hover {
            filter: brightness(110%);
        }
        display: flex;
        align-items: center;
        align-content: center;
    }
    menu {
        margin: 0;
        margin-top: 8pt;
        padding: 0;
        background-color: var(--ds-gray-600);
        border-radius: 6px;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        align-content: center;
    } 
    li {
        width: 100%;
        border-bottom: 1px solid var(--ds-gray-300);
        &:hover {
            color: var(--ds-dark-600);
            background-color: var(--ds-gray-300);
        }
    }
}