.drawer {
    z-index: 1300;
    max-width: 120px;
    height: fit-content;
    position: fixed;
    background-color: #fff;
    menu {
        padding: 8pt;
        @include flex-col-container;
    }
}
dialog {
    padding: 0;
    border: 0;
    &::backdrop {
    border: none;
}
}
.dialog {
    z-index: 3000;
    position: fixed;
    background-color: transparent;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.3);
    backdrop-filter: blur(2px);
    transition: all 300ms ease-in-out;
    
    
    &__title {
        @include flex-row-container;
        border-bottom: 1px solid var(--ds-alpha);
        justify-content: space-between;
        align-items: center
    }
    &__body {
        @include flex-col-container;
        justify-content: stretch;
        padding: 1rem;
        align-items: stretch;
        
        max-width: 100%;
        width: 600px;
        @media (max-width: $ds-breakpoint-xl) {
            
        }
        border-radius: 24px;
        background-color: var(--body-bg-color);
        position: relative;

    }
    
}
.on-board {
    &__container {
        img {
            max-width: 100%;
            width: 525px;
            border-radius: var(--ds-rounded-sm);
        }
    }
}
.popover {
    //background-color: var(--ds-gray-100);
    width: 100%;
    position: absolute;
    left: 5%;
    height: 100%;
    width: 100%;
   
    overflow-x: scroll;

    &--map {
        border-radius: var(--ds-border-radius-md);
        position: static;
        background-color: var(--body-bg-color);
        height: 600px;
        width: 100%;
        &__container {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            height: 100%;
            gap: 8pt;
        }
    }
}

.on-board__container {
    @include flex-col-container;
    align-items: center;
    img {
        width: 625px;
    }
}
.side-sheets-modal {
    display: none;
    position: fixed;
    &.left {
        top: 0;
        left: 0;
    }
    &.bottom {
        bottom: 0;
        left: 0;
    }
    &.right {
        top: 0;
        right: 0;
    }

    &.top {
        top: 0;
        
    }
    width: 100%;
    height: 100%;
   
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: brightness(80%) blur(2px);
    z-index: 9999;
   
    &.open {
      display: block;
    }
  
    .modal-content {
    @media (max-width: $ds-breakpoint-xl) {
        width: 525px;
    }

    @media (max-width: $ds-breakpoint-sm) {
        height: 50%;
        width: 100%;
 
        bottom: 0;
    }
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
      position: fixed;
      top: 0;
      right: 0;
      width: 460px; /* Ширина боковой панели */
      height: 100%;
      overflow-y: auto;
      
      stroke: #fff;
      @media (prefers-color-scheme: dark) {
       color: var(--ds-gray-100);
      }
      background-color: var(--body-bg-color);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      ol {
        @include flex-col-container;
      }
    }
    &-btn {
        
        svg {
            height: 50px;
            width: 50px;
            stroke: var(--ds-colors-warn);
        }
        
        z-index: 1300;
    }
    &-title {
        position: sticky;
        top: 0;
        background-color: var(--body-bg-color);
        padding-top: 1rem;
        padding-right: 1rem;
        text-align: right;
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        border-bottom: 1px solid var(--ds-gray-300);
        h4 {
            margin:0;
        }
    }
    .close-button {
        svg { width: 25px;}
      
      font-size: 1.5rem;
      background: none;
      border: none;
      cursor: pointer;
    }
  }